@import './variables';
@import './fonts';

.custom-background {
  font-family: $font-base;
  background-color: $body-background;
  background-image: url("./assets/images/stars.png");
  color: $white;
}

@media (max-width: 749px) {
  .custom-background {
    min-height: 100vh;
  }
}
