@font-face {
  font-family: 'starjedi';
  src: url('./assets/fonts/Starjout.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'starlogo';
  src: url('./assets/fonts/Strjmono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
